Welcome
= link_to(t("add_question"), new_question_path) if current_user.admin?
- questions.each do |question|
  %h3= question.text
  - if question.answer
    %p= question.answer.text
  - elsif current_user.admin?
    = link_to(t("add_answer"), new_question_answer_path(question))
