/*
 * Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
 * the trix-editor content (whether displayed or under editing). Feel free to incorporate this
 * inclusion directly in any other asset bundle and remove this file.
 */
@import "trix/dist/trix.css";

/* hide attachment tools */
trix-toolbar .trix-button-group--file-tools {
  display: none;
}
